/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-img: url("../images/cover-image-dark.png");
  --menu-button-border-hover: rgb(255, 0, 112, 0.4);
  --header-title-color: #db00ff;
  --shadow-color: #ff0070;
  --headers-color: #ff0070;
  --text-background-color: #ff0070;
  --text-color: #000028;
  --main-text-color: #f1b2ce;
  .rec__header {
    display: flex;
  }
}
